.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main > div {
    flex: 1;
    overflow: hidden;
}

.step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    overflow: scroll;
    height: 100%;
}

.main > footer {
    background: #f3f2f2;
    border-top: 2px solid #dddbda;
    display: flex;
    padding: .75rem 1rem;
    align-items: center;
}

footer > .progress {
    flex: 1;
}

.standard-width {
    width: var(--lwc-sizeLarge, 25rem);
}

.large-width {
    width: var(--lwc-sizeXLarge, 40rem);
}

.grey-background {
    background: var(--lwc-colorBackground, #f3f2f2);
}

.text-list {
    display: flex;
    align-items: center;
}

.text-list > div {
    display: flex;
    flex-direction: column;
}

.flex-spinner {
    flex: 1;
    position: relative;
}

.column-table {
    display: flex;
    flex-direction: column;
}

.column-table > div {
    display: flex;
    align-items: center;
}

.column-table > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.slds-progress-ring {
    background: var(--lwc-colorBackgroundAltInverse, rgb(22, 50, 92));
}

.slds-progress-ring__content {
    background: none;
    color: #FFFFFF;
}

.pretty-link {
    text-decoration: none !important;
}

.check-text {
    display: flex;
}

.auto-height {
    height: auto;
}

.multi-field-box {
    display: flex;
}

.multi-field-box > lightning-combobox, .multi-field-box > lightning-input {
    flex: 1;
}