.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1 {
    font-weight: 700;
}

.main img {
    height: 100%;
    max-height: 100px;
}

.standard-width {
    width: var(--lwc-sizeLarge, 25rem);
}

.large-width {
    width: var(--lwc-sizeXLarge, 40rem);
}

.grey-background {
    background: var(--lwc-colorBackground, #f3f2f2);
}

.pretty-link {
    text-decoration: none !important;
}